<div>
    <div>
        <h1>Regalos destacados</h1>
        <h1>Experiencia sin estrés</h1>
    </div>
    <div class="cmr-instructions">
        <h1>¿Cómo funciona?</h1>
        <div class="cmr-app-img row">
          <div class="col-md-4 col-sm-6 col-xs-12 steps-app" >
            <img class="icon-cmr d-none d-sm-block" src="/assets/img/fig-bfcl-onboarding-retail-fb.png" title="imagen Paso 1"
              alt='Completa el formulario' />
            <div class="descripcion descripcion-app">
              <img class="icon-cmr icon-step " src="/assets/img/icn-step-1.svg" title="Paso 1" alt='Completa el formulario' />
              <p>Necesitas un Regalos</p>
              <p>Cualquier motivo, ocasion. Estamos aqui para ayudarte</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 steps-app">
            <img class="icon-cmr d-none d-sm-block" src="/assets/img/fig-app-bfcl-card-select.png" title="imagen Paso 2"
              alt='Descarga e inicia sesión' />
            <div class="descripcion descripcion-app">
              <img class="icon-cmr icon-step " src="/assets/img/icn-step-2.svg" title="Paso 2" alt='Completa el formulario' />
              <p>Mantenlo personal</p>
              <p>Sleccionamos los mejores productos para que puedas crear los regalos mas personales</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 steps-app">
              <img class="icon-cmr d-none d-sm-block" src="/assets/img/fig-app-bfcl-card-number.png" title="imagen Paso 3" alt='Completa el formulario' />
            <div class="descripcion descripcion-app">
              <img class="icon-cmr icon-step " src="/assets/img/icn-step-3.svg" title="Paso 3" alt='Completa el formulario' />
              <p>Nosotros nos encargamos del resto</p>
              <p>Tomamos tu obra maestra, la empaquetamos a la perfección y la enviamos directamente a su puerta (u oficina). A ellos les encanta, ¡y a ti!</p>
            </div>
          </div>
        </div>
      </div>
      <div>
          <p>Destacado del mes</p>
          <div>Aqui va la imagen</div>
          <div>Aqui lo destacado</div>
      </div>
      <div>
        <p>Regalos corporativos</p>
        <div>Aqui va la imagen</div>
        <div>Aqui lo destacado</div>
    </div>
      <div>
        <p>Collecciones destacadas</p>
        <div>Aqui va la imagen</div>
        <div>Aqui lo destacado</div>
    </div>
</div>